@use "/home/cody/.cache/wal/colors" as *;

.applauncher {
  color: #ffffff;
  font-size: 24px;
  background: $background;
  padding: 2rem;
  border: 2px solid $color11;
  border-radius: 0.5rem;
}

.applauncher-event {
  border: 2px solid $color8;
  border-radius: 0.5rem;

  .applauncher-item {
    padding: 0.75rem 1.0rem;

  }

  &:hover {
    border: 2px solid $color11;
  }
}
